@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  @apply bg-white;
  @apply text-black;
  @apply text-base;
  @apply px-3;
  @apply py-2;
  @apply rounded-tr-md;
  @apply rounded-tl-3xl;
  @apply rounded-bl-md;
  @apply rounded-br-3xl;
}

* {
  box-sizing: border-box;
}
